.buttons {
    text-align: end;
    padding: 75px;
    font-size: x-large;
    font-family: monospace;
    color: white;
  }

.link {
    background-color: rgb(194 65 12);
}

.link:hover {
    background-color: rgb(202 138 4);
}