@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

.App {
  background-color: #fffcf7;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  text-align: end;
  padding: 40px;
  font-size: 14pt;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  background-color: #F8FEFF; 
  border-bottom: 0.1rem solid #5C8EAD;
}

.nav a {
  padding-inline: 22px;
  padding-block: 9px;
  margin-inline: 15px;
  background-color: #5C8EAD;
  border-radius: 0.25rem;
}

.nav a:hover {
  background-color: #459b98;
}

#header {
  background-image: url('./assets/images/header_gradient.png');
  padding-block: 8rem;
  padding-left: 5rem;
}

.container {
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 8.5rem;
}

.animation {
  padding-inline: 1.5rem;
  position: absolute;
  bottom: -7%;
}

.name {
  font-weight: 800;
  background-clip: text;
  color: transparent;
}

.about-content {
  max-width: 100%;
  margin-inline: 5rem;
  padding-block: 2rem;
  text-align: start;
  font-size: 1.3rem;
  font-weight: 500;
  color: #2A5B75;
}

.highlight {
  color: #459b98;
  font-weight: 700;
}

.skills {
  max-width: 100%;
  margin-block: 3rem;
  margin-inline: 3rem;
  border-block: 0.1rem solid #459b98;
  font-size: 1.3rem;
  color: #459b98;
}

.skills-items {
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
}

.skills-items span {
  text-align: start;
  margin-right: 4.5rem;
  padding-block: 1rem;
  white-space: nowrap;
  color: #459b98;
  font-weight: 400;
}

.skills-items span:hover {
  color: #00a2ff;
  font-weight: 500;
}

.cat {
font-weight: 800;
background-clip: text;
color: transparent;
font-style: italic;
}

.cat:hover:after {
  content: url(./assets/images/cat.png);
  display: inline-block;
  position: absolute;
  right: 50%;
  bottom: 70%;
}

.project-header {
  max-width: 100%;
  background-color: #f1f1f1;
  color: #4a86ac;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 40pt;
  font-weight: 800;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13pt;
  max-width: 100%;
  padding-bottom: 10rem;
  background-color: #f1f1f1;
}

.project-container img {
  max-width: 110%;
  height: auto;
  margin: 50px 50px 0 50px;
  box-shadow: 20px 20px #78A1BB;
  border: 0.1rem solid black;
  transition: .2s ease;
  display: block;
}

img:hover {
  opacity: .99;
}

.img-col {
  flex-basis: 40%;
  max-width: 48rem;
}

.text-col {
  flex-basis: 35%;
  max-width: 40rem;
  background-color:#fff3f1;
  margin-top: 5rem;
  padding: 2.5rem;
  border-radius: 25px;
  border: 0.15rem solid #373E40; 
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
}

.text-col a {
  text-align: end;
  color:#18b7b2;
  font-weight: 700;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.text-col a:hover {
  font-size: 15pt;
  opacity: 0.8;
  color: #141d33;
  box-shadow: inset 150px 0 0 0 #D1B3C4;
}

.footer {
  max-width: 100%;
  text-align: center;
  padding-block: 10vh;
  background-color: #effbff;
  font-family: 'Montserrat', sans-serif;
}

.footer a {
  display: inline-block; 
  padding-inline: 2vw;
}

.footer a:hover {
  border-radius: 25px;
  box-shadow: inset 10px 1em 1em 1em #D1B3C4;
}







@media screen and (min-width: 1920px){

  #header > .container {
    padding-inline: 10rem;
  }

  .nav {
    padding-inline: 70%;
  }

  .about-content {
    margin-inline: 15rem;
  }

  .skills {
    margin-inline: 15rem;
    padding-block: none;
  }

  .skills-items {
    display: flex;
    flex-wrap: wrap;
  }

}


@media screen and (max-width: 1200px) { /* laptops and tablets */
  .nav {
    text-align: center;
  }

  .container {
    padding-block: 9rem;
    padding-inline: 2rem;
  }

  .project-header {
    padding-bottom: 5rem;
  }

  .project-container {
    flex-direction: column;
    padding-bottom: 12rem;
  }

  .project-container img {
    max-width: 90%;
    margin: auto;
    box-shadow: 0.5rem 0.5rem #78A1BB;
  }

  .img-col {
    flex-basis: none;
    align-self: center;
  }

  .text-col {
    max-width: 65%;
    font-size: 11pt;
  }

}

@media screen and (max-width: 820px) { /* tablet */

  #header > .container {
    max-width: 50vw;
  }

  .container {
    padding-inline: 0rem;
    padding-block: 9rem;
  }

  .animation {
    bottom: -5%;
  }

  .text-col {
    max-width: 85%;
    font-size: 11pt;
  }
  
}

@media screen and (max-width: 640px) { /* mobile */
  #header {
    padding-left: 2rem;
    padding-block: 1rem;
    padding-inline: none;
  }

  .nav {
    display: none;
  }

  .container {
    padding-inline: 0rem;
    padding-block: 6rem;
  }

  .animation {
    display: none;
  }

  .about-content {
    margin-inline: 1.5rem;
    font-size: 11pt;
  }

  .skills {
    margin-inline: 2rem;
  }

  .skills-items {
    flex-direction: column;
    font-size: 11pt;
  }

  .skills-items span {
    margin-block: 0.1rem;
  }

  .project-header {
    font-size: 24pt;
    padding-top: 6rem;
  }

  .project-container {
    padding-bottom: 8.5rem;
  }

  .text-col {
    max-width: 90%;
    font-size: 11pt;
    padding: 2rem;
  }

  .footer {
    padding-block: 6vh;
    font-size: 11pt;
  }

}